body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

.app.dark {
  background-color: #121212;
  color: white;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
}
